---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>a boot</title>
	</head>
	<body>
        <a href="/astroTut/">Home</a>
        <a href="/astroTut/about">abot</a>
        <a href="/astroTut/blog">blog</a>
		<h1>about finns nuts</h1>
        <h2>and uhhhh fjfjdkjf</h2>

        <p>i am working on deez nuts this is the seoncdjfisj</p>
        <p>this wuhjfdifjidbisfisighfdogjidfs </p>
	</body>
</html>