
---
import '../styles/global.css'
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPost from '../layouts/BlogPost.astro'
const allPosts = await Astro.glob('./posts/*.md')
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
<h1>blog fjidfjis</h1>
<h2>and uhhhh fjfjdkjf</h2>

<p>i am working on deez nuts this is the seoncdjfisj</p>
<p>this wuhjfdifjidbisfisighfdogjidfs </p>
<ul>
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title}/>)}
</ul>
</BaseLayout>