
---
import '../styles/global.css'
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
<h1>blog fjidfjis</h1>
<h2>and uhhhh fjfjdkjf</h2>

<p>i am working on deez nuts this is the seoncdjfisj</p>
<p>this wuhjfdifjidbisfisighfdogjidfs </p>
<ul>
    <li><a href="/astroTut/posts/post-1">post 1</a> </li>
    <li><a href="/astroTut/posts/post-2">post 2</a> </li>
    <li><a href="/astroTut/posts/post-3">post 3</a> </li>
</ul>
</BaseLayout>