---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>where fin nuts at ahaha</title>
	</head>
	<a href="/astroTut/">Home</a>
	<a href="/astroTut/about">abot</a>
	<a href="/astroTut/blog">blog</a>
	<body>
		<h1>fin got no nuts haha</h1>
	</body>
</html>
